/* general */
body {
  /* background: #000000; */ }

svg {
  width: 100%;
  height: 100%; }

path {
  fill: none;
  stroke: #000; }

.hidden {
  display: none; }

/* tooltip */
#tooltip {
  position: absolute;
  /*width: 200px;*/
  height: auto;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none; }
  #tooltip span {
    margin: 0;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 20px; }

/* legend */
.label {
  font-size: 10px; }

/* structure */
.chart-container {
  display: inline-block; }

/* osm road map */
/* colors */
.q0-9 {
  fill: #d73027; }

.q1-9 {
  fill: #f46d43; }

.q2-9 {
  fill: #fdae61; }

.q3-9 {
  fill: #fee090; }

.q4-9 {
  fill: #ffffbf; }

.q5-9 {
  fill: #e0f3f8; }

.q6-9 {
  fill: #abd9e9; }

.q7-9 {
  fill: #74add1; }

.q8-9 {
  fill: #4575b4; }

.precip.q0-9 {
  fill: #d73027; }

.precip.q1-9 {
  fill: #f46d43; }

.precip.q2-9 {
  fill: #fdae61; }

.precip.q3-9 {
  fill: #fee090; }

.precip.q4-9 {
  fill: #ffffbf; }

.precip.q5-9 {
  fill: #e0f3f8; }

.precip.q6-9 {
  fill: #abd9e9; }

.precip.q7-9 {
  fill: #74add1; }

.precip.q8-9 {
  fill: #4575b4; }

.temp.q0-9 {
  fill: #4575b4; }

.temp.q1-9 {
  fill: #74add1; }

.temp.q2-9 {
  fill: #abd9e9; }

.temp.q3-9 {
  fill: #e0f3f8; }

.temp.q4-9 {
  fill: #ffffbf; }

.temp.q5-9 {
  fill: #fee090; }

.temp.q6-9 {
  fill: #fdae61; }

.temp.q7-9 {
  fill: #f46d43; }

.temp.q8-9 {
  fill: #d73027; }

.temp:hover {
  fill: rgba(0, 109, 44, 0.6); }

/* bar chart */
.bar:hover {
  fill: #238443; }

/* choropleth map */
.watershed {
  stroke: #7c7c7c; }
  .watershed:hover {
    fill: #238443; }
