/* general */
body {
  /* background: #000000; */ }

svg {
  width: 100%;
  height: 100%; }

path {
  fill: none;
  stroke: #000; }

/* tooltip */
#tooltip {
  position: absolute;
  /*width: 200px;*/
  height: auto;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none; }
  #tooltip span {
    margin: 0;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 20px; }
  #tooltip.hidden {
    display: none; }

/* legend */
.label {
  font-size: 10px; }

/* structure */
.chart-container {
  /*width: 650px;*/
  /*height: 650px;*/
  /*background-color: #e8e8e8;*/
  display: inline-block; }

.about {
  font-size: .7em; }

/* osm road map */
.major_road {
  stroke: #444; }

.minor_road {
  stroke: #bbb; }

.highway {
  stroke: #111;
  stroke-width: 1.5px; }

/* colors */
.q0-9 {
  fill: #d73027; }

.q1-9 {
  fill: #f46d43; }

.q2-9 {
  fill: #fdae61; }

.q3-9 {
  fill: #fee090; }

.q4-9 {
  fill: #ffffbf; }

.q5-9 {
  fill: #e0f3f8; }

.q6-9 {
  fill: #abd9e9; }

.q7-9 {
  fill: #74add1; }

.q8-9 {
  fill: #4575b4; }

/* bar chart */
/* census map */
.watershed:hover {
  fill: #00bf02; }
